// ____________________________________________Responsive __________________________________________________________________________________________________
@include sm-only {
    .bg-list-bien {
        height: 850px;
    }

    .list-bien-all {
        justify-content: space-evenly;
    }
    .details-bien-description {
        width: 300px;
    }
    .details-bien-details {
        width: 300px;
    }
}
@include md-only {
    .bg-list-bien {
        height: 850px;
    }

    .list-bien-item {
        width: 290px;
    }
    .details-bien-description {
        width: 600px;
    }
    .details-bien-details {
        width: 600px;
    }
}
@include lg-only {
    .bg-list-bien {
        height: 500px;
    }

    .list-bien-all {
        justify-content: space-evenly;
    }
    .details-bien-description {
        width: 570px;
    }
    .details-bien-details {
        width: 400px;
    }
}

@include xl-only {
    .list-bien-all {
        justify-content: space-evenly;
    }
    .details-bien-description {
        width: 750px;
    }
    .details-bien-details {
        width: 570px;
    }
}
