//Responsive_______________________________________________________________________
@mixin sm-only {
  @media only screen and (max-width: map-get($breakpoints, md)-1) {
    @content;
  }
}
@mixin md-only {
  @media only screen and (min-width: map-get($breakpoints, md)) and (max-width: map-get($breakpoints, lg)) {
    @content;
  }
}
@mixin lg-only {
  @media only screen and (min-width: map-get($breakpoints, lg)+1) {
    @content;
  }
}
@mixin xl-only {
  @media only screen and (min-width: map-get($breakpoints, xl)) {
    @content;
  }
}

//Helper________________________________________________________________________
@mixin transform($property) {
  -webkit-transform: $property;
  -ms-transform: $property;
  transform: $property;
}

@mixin shadow($p1, $p2, $p3, $p4, $p5) {
  -webkit-box-shadow: $p1 $p2 $p3 $p4 rgba(0, 0, 0, $p5);
  -moz-box-shadow: $p1 $p2 $p3 $p4 rgba(0, 0, 0, $p5);
  box-shadow: $p1 $p2 $p3 $p4 rgba(0, 0, 0, $p5);
}

@mixin rotate($property) {
  transform: rotate($property);
  -webkit-transform: rotate($property);
  -moz-transform: rotate($property);
  -ms-transform: rotate($property);
  -o-transform: rotate($property);
}

@mixin margin-auto() {
  margin: 0 auto;
}
