<nav id="nav" class="nav ">
    <div
        class="nav-container --relative mr-70 --flex --flex-wrap --justify-content-space-between --align-items-center ">
        <div  class="p-20"><a routerLink="/liste-biens"
            routerLinkActive="--yellow active">Recherche bien</a></div>

        <div *ngIf="isConnected" class="p-20"><a routerLink="/user/profil"
                routerLinkActive="--yellow active">Profil</a></div>
       
        <div class="p-20">
            <a *ngIf="!isConnected; else connecte" routerLink="/connexion"
                routerLinkActive="--yellow active">Connexion</a>
            <ng-template #connecte>
                <a (click)="logOut()">Déconnexion</a>
            </ng-template>
        </div>
    </div>
</nav>