button {
  background-color: #fff;
  display: inline-block;
  padding: 15px 20px;
  margin: 20px 10px;
  border-radius: 0.12em;
  box-sizing: border-box;
  text-decoration: none;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  text-align: center;
  transition: all 0.2s;
  cursor: pointer;
}

.--primary-btn {
  color: #fff;
  border: 0.1em solid #443a31;
  background-color: #443a31;

  &:hover {
    color: #443a31;
    background-color: #fff;
  }

  &:disabled {
    cursor: not-allowed;
    color: #fff;
    border: 0.1em solid #787575;
    background-color: #787575;
  }

  &-outlined {
    color: #443a31;
    border: 0.1em solid #443a31;

    &:hover {
      color: #fff;
      background-color: #443a31;
    }

    &:disabled {
      cursor: not-allowed;
      color: #787575;
      border: 0.1em solid #787575;
      background-color: #fff;
    }
  }
}

.--secondary-btn {
  color: #fff;
  border: 0.1em solid #de9816;
  background-color: #de9816;

  &:hover {
    color: #de9816;
    background-color: #fff;
  }

  &:disabled {
    cursor: not-allowed;
    color: #fff;
    border: 0.1em solid #787575;
    background-color: #787575;
  }

  &-outlined {
    color: #de9816;
    border: 0.1em solid #de9816;

    &:hover {
      color: #fff;
      background-color: #de9816;
    }

    &:disabled {
      cursor: not-allowed;
      color: #787575;
      border: 0.1em solid #787575;
      background-color: #fff;
    }
  }
}
.--tertiary-btn {
}

.--danger-btn {
  color: #fff;
  border: 0.1em solid #e53c43;
  background-color: #e53c43;

  &:hover {
    color: #e53c43;
    background-color: #fff;
  }

  &:disabled {
    cursor: not-allowed;
    color: #fff;
    border: 0.1em solid #787575;
    background-color: #787575;
  }

  &-outlined {
    color: #e53c43;
    border: 0.1em solid #e53c43;

    &:hover {
      color: #fff;
      background-color: #e53c43;
    }

    &:disabled {
      cursor: not-allowed;
      color: #787575;
      border: 0.1em solid #787575;
      background-color: #fff;
    }
  }
}

.--disabled-btn {
  cursor: not-allowed;
}
