<div *ngIf="notificationProperties" (click)="close()">
  <div class="container_modal_notif" [class]="delayToClass(5)">
    <div class="content_modal_notif" [class]="notificationProperties.background">
        <i [class]="notificationProperties.icon"> </i>
        <div>{{ notificationProperties.message }}</div>
    </div>
  </div>
</div>
