<div class="_container">
  <div class="_row py-40 --bg-yellow-footer">
    <div class="_col">
      <h3 class="--left-txt my-30">About</h3>
      <p class="--justify-txt">
        Vous souhaitez nous confier la vente de votre maison, appartement, terrain sur Bordeaux, Paris, Marseille et
        Toulouse ?<br><br>
        Notre travail d’estimation basé sur une longue expérience de l’immobilier, vous garantit une véritable cohérence
        dans l’établissement d’un prix justifié pour une vente réussie.<br><br>
        Vendeurs, acquéreurs, locataires et propriétaires bailleurs, nous investissons pour vous ! Nous nous engageons à
        diffuser tous nos biens sur de très nombreux supports publicitaires en plus de notre fichier clients.
      </p>
      <hr class="--height-1 --width-300 mx-auto mt-60 mb-30">
      <div class="--flex  --flex-wrap --justify-content-space-evenly --align-items-stretch">
        <div class="--width-400 pb-30 --center-txt --black --z-index-4">
          <h3 class="--center-txt --black my-30">Nos réseaux sociaux</h3>
          <div class="--flex --flex-wrap --justify-content-space-evenly">
            <div class="--flex --align-items-center">
              <i class="fab fa-facebook-square fa-3x"></i>
              <span class="ml-5 pr-5">Facebook</span>
            </div>
            <div class="--flex --align-items-center">
              <i class="fab fa-twitter-square fa-3x"></i>
              <span class="ml-5 pr-5">Twitter</span>
            </div>
            <div class="--flex --align-items-center">
              <i class="fab fa-instagram-square fa-3x"></i>
              <span class="ml-5 pr-5">Instagram</span>
            </div>
          </div>
        </div>
        <div class="--width-400 pb-30 --center-txt --z-index-4">
          <h3 class="--center-txt --black my-30">Contact</h3>
          <ul>
            <li class="pb-10">{{constants.CONTACT_NAME}}</li>
            <li class="pb-10">{{constants.CONTACT_EMAIL}}</li>
            <li class="pb-10">{{constants.CONTACT_PHONE}}</li>
            <li class="pb-10">{{constants.CONTACT_ADDRESS}}</li>
            <li class="pb-10">{{constants.CONTACT_CP}} - {{constants.CONTACT_CITY}}</li>
          </ul>
        </div>
      </div>
    </div>
  </div>

  <div class="--relative mx-auto py-30 --center-txt --white --z-index-4" style="background-color: #2D2520;">
    <div class="--inline-block --white">
      <a class="--white p-20" routerLink="/mentions-legales">Mentions légales</a>
      <span>&#x2022;</span>
      <a class="--white p-20" routerLink="/conditions-generales-d-utilisation">Conditions générales d'utilisation</a>
      <span>&#x2022;</span>
      <a class="--white p-20" routerLink="/donnees-personnelles">Données personnelles</a>
    </div>
    <br><br>
    <span class="--inline-block">© Copyright {{constants.SITE_NAME}}, {{constants.CURRENT_DATE | date:'YYYY'}}.</span>
    <span class="--inline-block"> Tous droits réservés.</span>
  </div>
</div>