<div *ngIf="bienLoaded" class="_container --bg-light-grey py-100">
  <div class="_row">
    <div class="_col">
      <div class="--inline-block my-20 --bg-yellow --border-radius-10 py-10 px-20 --white mr-10">{{ bien.typeContrat.label }}</div>
      <div class="--inline-block my-20 --bg-yellow --border-radius-10 py-10 px-20 --white">{{ bien.typeBien.label }}</div>

      <div class="--bg-white --border-radius-5 --height-auto p-20 --flex --flex-wrap --justify-content-space-between">
        <div>
          <h1>{{ bien.typeBien.label }} - {{ bien.nombrePiece }} pièce(s)</h1>
          <i class="--yellow py-10 pr-10 fas fa-map-marker-alt"></i><span>{{ bien.adresse.codePostal }} - {{ bien.adresse.ville }}</span>
        </div>
        <div>
          <span class="--lg-txt --yellow --bold-txt">{{ bien.prix | number:'3.0-5':'fr-FR'}} €</span><br><br> <!-- comment mettre l'espace des milliers ? -->
        </div>
      </div>
    </div>
  </div>
  <div class="_row ">
    <div class="_col pt-30 --height-500">
      <img class="--border-radius-5" [src]="imageAccueil" />
    </div>
  </div>
  <div class="_row ">
    <div *ngIf="imageObject.length > 1" class="_col pt-30 --height-230">
      <ng-image-slider [images]="imageObject" #nav></ng-image-slider>
    </div>
  </div>
  <div class="_row">
    <div class="_col pt-30">
      <div
        class="--center-txt --bg-white --border-radius-5 --height-auto p-10 --flex --flex-wrap --justify-content-space-around --align-items-center">
        <div class="--width-200 my-20">
          <i class="--yellow mb-15 fas fa-arrows-alt fa-3x"></i>
          <h1>{{ bien.surfaceHabitable }} m²</h1>
        </div>
        <div class="--width-200 my-20">
          <i class="--yellow mb-15 fas fa-th fa-3x"></i>
          <h1>{{ bien.nombrePiece }} pièce(s)</h1>
        </div>
        <div class="--width-200 my-20">
          <i class="--yellow mb-15 fas fa-bed fa-3x"></i>
          <h1>{{ bien.nombreChambre }} chambre(s)</h1>
        </div>
        <div class="--width-200 my-20">
          <i class="--yellow mb-15 fas fa-shower fa-3x"></i>
          <h1>{{ bien.nombreSalleDeBain }} salle(s) de bain</h1>
        </div>
      </div>
    </div>
  </div>
  <div class="_row">
    <div class="_col pt-30">
      <div class="--flex --flex-wrap --justify-content-space-between">
        <div class="details-bien-description --bg-white --border-radius-5 --height-auto p-40 mb-30">
          <h2>Description</h2>
          <p class="--justify-txt mt-10 mb-30">
            {{ bien.description }}
          </p>
          <h2>Détail des pièces</h2>
          <p class="--justify-txt mt-10 mb-30">
            {{ bien.detailPieces }}
          </p>
          <h2>Équipement de la maison</h2>
          <p class="--justify-txt mt-10 mb-30">
            {{ bien.equipementMaison }}
          </p>
        </div>
        <div class="details-bien-details --bg-white --border-radius-5 --height-auto p-40 mb-30">
          <h2>Détails</h2>
          <div
            class="--flex --flex-wrap --justify-content-flex-start --line-height-40 --align-content-space-between  my-20">
            <!-- Toujours visible quelque soit le type de bien-->
            <div class="--flex --align-items-center mr-15">
              <i class="--yellow fas fa-gavel fa-1x  --width-25"></i>
              <span>{{ bien.regimeJuridique.label }}</span>
            </div>
            <div class="--flex --align-items-center mr-15">
              <i class="--yellow fas fa-home fa-1x  --width-25 "></i>
              <span>Construit en {{ bien.anneeConstruction }}</span>
            </div>
            <div *ngIf="!bien.meuble" class="--flex --align-items-center mr-15">
              <i class="--yellow  fas fa-times fa-1x  --width-25 "></i>
              <span>Non Meublé</span>
            </div>
            <div *ngIf="bien.meuble" class="--flex --align-items-center mr-15">
              <i class="--yellow  fas fa-check fa-1x  --width-25 "></i>
              <span>Meublé</span>
            </div>
            <div class="--flex --align-items-center mr-15">
              <i class="--yellow fas fa-lightbulb fa-1x  --width-25 "></i>
              <span>Classe énergétique : {{ bien.classeEnergie }}</span>
            </div>
            <div class="--flex --align-items-center mr-15">
              <i class="--yellow fas fa-smog fa-1x  --width-25 "></i>
              <span>GES : {{ bien.ges }}</span>
            </div>
            <div *ngIf="isTerrain()" class="--flex --align-items-center mr-15">
              <i class="--yellow fas fa-seedling fa-1x  --width-25 "></i>
              <span>Surface du terrain : {{ bien.surfaceTerrain }} m²</span>
            </div>
            <div *ngIf="isBalcon()" class="--flex --align-items-center mr-15">
              <i class="--yellow fas fa-concierge-bell fa-1x  --width-25 "></i>
              <span>Surface du balcon : {{ bien.surfaceBalcon }} m²</span>
            </div>
            <div class="--flex --align-items-center mr-15">
              <i class="--yellow  fas fa-warehouse fa-1x  --width-25 "></i>
              <span *ngIf="!bien.garageVoiture">Pas de garage</span>
              <span *ngIf="bien.garageVoiture">Garage</span>
            </div>

            <!-- Visible seulement en cas d'appartement-->

            <div *ngIf="isAppartement() && bien.garageVelo" class="--flex --align-items-center mr-15">
              <i class="--yellow fas fa-bicycle fa-1x  --width-25 "></i>
              <span>Garage à vélo</span>
            </div>
            <div *ngIf="isAppartement() && bien.espacesVerts" class="--flex --align-items-center mr-15">
              <i class="--yellow fas fa-leaf fa-1x  --width-25 "></i>
              <span>Espace vert</span>
            </div>
            <div *ngIf="isAppartement() && bien.localPoubelles" class="--flex --align-items-center mr-15">
              <i class="--yellow fas fa-trash fa-1x  --width-25 "></i>
              <span>Local Poubelle</span>
            </div>
            <div *ngIf="isAppartement() && bien.ascenseur" class="--flex --align-items-center mr-15">
              <i class="--yellow fas fa-door-open fa-1x  --width-25 "></i>
              <span>Ascenceur</span>
            </div>
            <div *ngIf="isAppartement() && bien.aireJeux" class="--flex --align-items-center mr-15">
              <i class="--yellow fas fa-dice-five fa-1x  --width-25 "></i>
              <span>Aire de jeux</span>
            </div>
            <div *ngIf="isAppartement() && bien.laverie" class="--flex --align-items-center mr-15">
              <i class="--yellow fas fa-tshirt fa-1x  --width-25 "></i>
              <span>Laverie</span>
            </div>
            <div *ngIf="isAppartement() && bien.gardiennage" class="--flex --align-items-center mr-15">
              <i class="--yellow fas fa-shield-alt fa-1x  --width-25 "></i>
              <span>Gardien</span>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>
