<div class="_container">
  <div class="_row">
    <div class="--flex --width-full --height-500">
      <div class="--width-full --center-txt --white --bold --xxl-txt --absolute mt-60 --z-index-4">~ Make your dream
        come true ~</div>
      <img class="--relative --z-index-1" src="{{constants.IMAGE_URL}}home-banner.jpg" />
    </div>
  </div>
  <div class="_row --bg-light-grey">
    <div class="_col py-100 --height-auto">
      <h2 class="mx-auto --uppercase-txt mb-50 --center-txt">Description</h2>
      <p class="--justify-txt">
        {{constants.SITE_NAME}} une agence immobilière en ligne qui a pour mission de
        transformer la vente immobilière
        pour les particuliers.
        <br><br>
        Grâce à la technologie et à l'expertise de ses conseillers, {{constants.SITE_NAME}} est en mesure de vous offrir un accompagnement
        de A à Z lors de la vente assorti de frais d'agences fixes et réduits, très inférieurs à ceux d'une agence
        immobilière traditionnelle.
        <br><br>
        Nos conseillers sont des professionnels, experts de votre quartier qui gèrent toutes les étapes de votre vente,
        de l'estimation à domicile de votre bien jusqu'à la signature de l'acte authentique avec un soin particulier
        pour la présentation de votre bien (photos HD, visites virtuelles, diffusion sur de nombreux portails)
        <br><br>
        Nous vous assistons sur tous les aspects administratifs et juridiques y compris après la vente grâce à notre
        partenaire AXA.
      </p>
    </div>
    <div class="_row --bg-white">
      <div class="_col py-100 --height-auto">
        <h2 class="mx-auto --uppercase-txt mb-50 --center-txt">Nos secteurs géographiques</h2>
        <div class="--flex --flex-wrap --justify-content-space-evenly --lg-txt">
          <div class="my-20 mx-10 --center-txt --bg-yellow-logo --white">
            <div class="--xl-square-img">
              <img src="{{constants.IMAGE_URL}}home-bordeaux.jpg" />
            </div>
            <span class="--line-height-50">Bordeaux</span>
          </div>
          <div class="my-20 mx-10 --center-txt --bg-yellow-logo --white">
            <div class="--xl-square-img">
              <img src="{{constants.IMAGE_URL}}home-paris.jpg" />
            </div>
            <span class="--line-height-50">Paris</span>
          </div>
          <div class="my-20 mx-10 --center-txt --bg-yellow-logo --white">
            <div class="--xl-square-img">
              <img src="{{constants.IMAGE_URL}}home-marseille.jpg" />
            </div>
            <span class="--line-height-50">Marseille</span>
          </div>
          <div class="my-20 mx-10 --center-txt --bg-yellow-logo --white">
            <div class="--xl-square-img">
              <img src="{{constants.IMAGE_URL}}home-toulouse.jpg" />
            </div>
            <span class="--line-height-50">Toulouse</span>
          </div>
        </div>
      </div>
    </div>

    <div class="_row --bg-light-grey">
      <div class="_col py-100 --height-auto">
        <h2 class="mx-auto --uppercase-txt mb-50 --center-txt">Notre équipe</h2>
        <div class="--flex --flex-wrap --justify-content-space-evenly --lg-txt">
          <div class="p-20 --center-txt --yellow --white">
            <div class="--lg-square-img">
              <img class="--border-radius-rond" src="{{constants.IMAGE_URL}}home-grimard.jpg" />
            </div>
            <span class="--line-height-40">Alan Grimard</span><br>
            <span class="--black --md-txt --italic-txt --line-height-30">Responsable d'agence</span>
          </div>
          <div class="p-20 --center-txt --yellow --white">
            <div class="--lg-square-img">
              <img class="--border-radius-rond" src="{{constants.IMAGE_URL}}home-faugas.jpg" />
            </div>
            <span class="--line-height-40">Axel Faugas</span><br>
            <span class="--black --md-txt --italic-txt --line-height-30">Architecte immobilier</span>
          </div>
          <div class="p-20 --center-txt --yellow --white">
            <div class="--lg-square-img">
              <img class="--border-radius-rond" src="{{constants.IMAGE_URL}}home-bascou.jpg" />
            </div>
            <span class="--line-height-40">Julien Bascouzaraix</span><br>
            <span class="--black --md-txt --italic-txt --line-height-30">Négociateur immobilier</span>
          </div>
          <div class="p-20 --center-txt --yellow --white">
            <div class="--lg-square-img">
              <img class="--border-radius-rond" src="{{constants.IMAGE_URL}}home-cammas.jpg" />
            </div>
            <span class="--line-height-40">Corentin Cammas</span><br>
            <span class="--black --md-txt --italic-txt --line-height-30">Comptable immobilier</span>
          </div>
          <div class="p-20 --center-txt --yellow --white">
            <div class="--lg-square-img">
              <img class="--border-radius-rond" src="{{constants.IMAGE_URL}}home-daros.jpg" />
            </div>
            <span class="--line-height-40">Romain Da Ros</span><br>
            <span class="--black --md-txt --italic-txt --line-height-30">Chasseur de biens</span>
          </div>
        </div>
      </div>
    </div>
  </div>