header {
  width: 100%;
  height: auto;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

@include sm-only {
  .header-nav {
    flex-direction: column;
  }
}

@include md-only {
  .header-nav {
    flex-direction: row;
  }
}

@include md-only {
  .header-nav {
    flex-direction: row;
  }
}

@include md-only {
  .header-nav {
    flex-direction: row;
  }
}