<div class="_container --bg-light-grey py-100 --relative">
    <div class="_row ">
        <div class="_col">
            <div class="--flex --flex-wrap --justify-content-space-evenly --align-items-center">
                <div class="notfound --width-500 --line-height-50 my-30">
                    Adresse :
                    <span class="--yellow --bold-txt --xxl-txt">404</span> avenue
                    <span class="--yellow">Not Found</span><br> Attention ce bien n'est pas à vendre !<br>
                    Rendez-vous <a class="--yellow --underline-txt" routerLink="/accueil">ici</a>
                    pour trouver la maison de vos rêves...
                </div>
                <div class="--height-400 --width-250">
                    <img src="{{constants.IMAGE_URL}}notfound.png" />
                </div>
            </div>
        </div>
    </div>
</div>