<div *ngIf="user || bailLoaded" class="_container py-100 --bg-light-grey">
  <div class="_row">
    <div class="_col --z-index-4">
      <div class="--relatives --border-radius-10 --width-full --height-100">
        <div class="--absolute --white ml-10 mt-25 p-15 --bold-txt --border-radius-10 --z-index-4 --bg-yellow">
          {{user.role.label}}</div>
        <img class="--border-radius-10" src="{{constants.IMAGE_URL}}user-profile.jpg" />
      </div>
      <form [formGroup]="profileForm" class="mx-auto">

        <div class="--width-full mt-40 --flex --flex-wrap --justify-content-space-between --align-items-stretch">
          <div class="--width-full --bg-white --border-radius-5 p-40">
            <h2 class="mb-20">Informations principales</h2>

            <div class="field-group">
              <div class="my-10 mr-10">
                <label for="civilite">Civilité<span class="--red">*</span></label>
                <select formControlName="civilite" id="civilite" name="civilite" class="form-field"
                  [ngClass]="{ 'error': submitted && profileForm.controls.civilite.invalid }">
                  <option [selected]="(user.civilite === 'Monsieur') ? 'selected' : '' " value="Monsieur">Monsieur
                  </option>
                  <option [selected]="(user.civilite === 'Madame') ? 'selected' : '' " value="Madame">Madame</option>
                </select>
                <span class="--sm-txt --red --block mt-5" *ngIf="submitted && profileForm.controls.civilite.invalid">
                  Le champ est invalide
                </span>
              </div>
              <div class="my-10 mr-10">
                <label for="prenom">Prénom <span class="--red">*</span></label>
                <input formControlName="prenom" type="text" id="prenom" name="prenom" class="form-field"
                  [ngClass]="{ 'error': submitted && profileForm.controls.prenom.invalid }" />
                <span class="--sm-txt --red --block mt-5" *ngIf=" submitted && profileForm.controls.prenom.invalid">Le
                  champ est invalide</span>
              </div>
              <div class="my-10 mr-10">
                <label for="nom">Nom <span class="--red">*</span></label>
                <input formControlName="nom" type="text" id="nom" name="nom" class="form-field"
                  [ngClass]="{ 'error': submitted && profileForm.controls.nom.invalid }" />
                <span class="--sm-txt --red --block mt-5" *ngIf="submitted && profileForm.controls.nom.invalid">Le
                  champ est invalide</span>
              </div>
            </div>
            <div class="field-group">
              <div class="my-10 mr-10">
                <label for="mail">Mail <span class="--red">*</span></label>
                <input formControlName="mail" type="text" id="mail" name="mail" class="form-field"
                  [ngClass]="{ 'error': submitted && profileForm.controls.mail.invalid }" />
                <span class="--sm-txt --red --block mt-5" *ngIf="submitted && profileForm.controls.mail.invalid">Le
                  champ est invalide</span>
              </div>
              <div class="my-10 mr-10">
                <label for="tel">Téléphone <span class="--red">*</span></label>
                <input formControlName="numeroTelephone" type="text" id="numeroTelephone" name="numeroTelephone"
                  class="form-field"
                  [ngClass]="{ 'error': submitted && profileForm.controls.numeroTelephone.invalid }" />
                <span class="--sm-txt --red --block mt-5"
                  *ngIf="submitted && profileForm.controls.numeroTelephone.invalid">Le
                  champ est invalide</span>
              </div>
            </div>
          </div>

          <div class="mt-40 --width-full --bg-white --border-radius-5 p-40">
            <h2 class="mb-20">Informations complémentaires</h2>
            <div class="field-group">
              <div class="my-10 mr-10">
                <label for="birthDate">Date de naissance</label>
                <input formControlName="dateNaissance" type="date" id="dateNaissance" name="dateNaissance"
                  class="form-field" [ngClass]="{ 'error': submitted && profileForm.controls.dateNaissance.invalid }" />
                <span class="--sm-txt --red --block mt-5"
                  *ngIf="submitted && profileForm.controls.dateNaissance.invalid">Le champ
                  est invalide</span>
              </div>
              <div class="my-10 mr-10">
                <label for="villeNaissance">Ville de naissance</label>
                <input formControlName="villeNaissance" type="text" id="villeNaissance" name="villeNaissance"
                  class="form-field"
                  [ngClass]="{ 'error': submitted && profileForm.controls.villeNaissance.invalid }" />
                <span class="--sm-txt --red --block mt-5"
                  *ngIf="submitted && profileForm.controls.villeNaissance.invalid">Le
                  champ est invalide</span>
              </div>
            </div>

            <div class="field-group">
              <div class="my-10 mr-10">
                <label for="num">Numéro</label>
                <input formControlName="numero" type="text" id="numero" name="numero" class="form-field"
                  [ngClass]="{ 'error': submitted && profileForm.controls.numero.invalid }" />
                <span class="--sm-txt --red --block mt-5" *ngIf="submitted && profileForm.controls.numero.invalid">Le
                  champ est invalide</span>
              </div>
              <div class="my-10 mr-10">
                <label for="rue">Rue</label>
                <input formControlName="rue" type="text" id="rue" name="rue" class="form-field"
                  [ngClass]="{ 'error': submitted && profileForm.controls.rue.invalid }" />
                <span class="--sm-txt --red --block mt-5" *ngIf="submitted && profileForm.controls.rue.invalid">Le
                  champ est invalide</span>
              </div>
              <div class="my-10 mr-10">
                <label for="complement">Complément</label>
                <input formControlName="complement" type="text" id="complement" name="complement" class="form-field"
                  [ngClass]="{ 'error': submitted && profileForm.controls.complement.invalid }" />
                <span class="--sm-txt --red --block mt-5"
                  *ngIf="submitted && profileForm.controls.complement.invalid">Le
                  champ est invalide</span>
              </div>

            </div>

            <div class="field-group">
              <div class="my-10 mr-10">
                <label for="codePostal">Code postal</label>
                <input formControlName="codePostal" type="text" id="codePostal" name="codePostal" class="form-field"
                  [ngClass]="{ 'error': submitted && profileForm.controls.codePostal.invalid }" />
                <span class="--sm-txt --red --block mt-5"
                  *ngIf="submitted && profileForm.controls.codePostal.invalid">Le champ
                  est invalide</span>
              </div>
              <div class="my-10 mr-10">
                <label for="ville">Ville</label>
                <input formControlName="ville" type="text" id="ville" name="ville" class="form-field"
                  [ngClass]="{ 'error': submitted && profileForm.controls.ville.invalid }" />
                <span class="--sm-txt --red --block mt-5" *ngIf="submitted && profileForm.controls.ville.invalid">Le
                  champ est
                  invalide</span>
              </div>
              <div class="my-10 mr-10">
                <label for="pays">Pays</label>
                <input formControlName="pays" type="text" id="pays" name="pays" class="form-field"
                  [ngClass]="{ 'error': submitted && profileForm.controls.pays.invalid }" />
                <span class="--sm-txt --red --block mt-5" *ngIf="submitted && profileForm.controls.pays.invalid">Le
                  champ est invalide</span>
              </div>
            </div>

          </div>
        </div>
        <div class="mx-auto --width-full --center-txt mt-20">
          <button type="button" class="--secondary-btn" (click)="onSubmit()">Enregistrer les modifications</button>
        </div>
      </form>
    </div>
  </div>
  <div *ngIf="isBail()==true" class="_row">
    <div class="_col --z-index-4">
        <form [formGroup]="uploadForm" *ngFor="let bail of tabListFilelocation" class="mx-auto">
            <div class="mt-40 --width-full --bg-white --border-radius-5 p-40">
                <h2 class="mb-20">Pièces justificatives : Bail n°{{ numeroBail(bail) }}</h2>
                <div *ngIf="isProprietaire() || isLocataire()"
                    class="--flex --flex-wrap --justify-content-space-between --border-radius-5 --border-1-solid p-40">
                    <div class="--width-400">
                        <h4 class="--underline-txt --yellow mb-20">Bail de location</h4>
                        <div *ngIf="bail.listFileBail.length > 0" class="mt-20">
                            <h4 class="mb-10">Liste des fichiers sauvegardées</h4>
                            <div *ngFor="let fileName of bail.listFileBail[0]" class="--grey --sm-txt">
                                <a href="{{this.url_basic}}{{this.numeroBail(bail)}}{{this.constants.PATH_FILE_LOCATION.BAIL}}{{ fileName }}" target="_blank">
                                    <i class=" ml-20 mr-3 fas fa-1x fa-file --width-10 --line-height-40"></i>
                                    {{ fileName }}
                                </a>
                            </div>
                        </div>
                    </div>
                    <div>
                        <div class="--flex --flex-wrap">
                            <input type="file" name="fileBail" id="fileBail"
                                class="input-file --hidden --absolute --width-250" multiple
                                (change)="onFileChange($event,'bail')" accept=".pdf" />
                            <label for="fileBail"
                                class="--white --sm-txt --bg-yellow --border-1-solid --bd-yellow --width-200 --center-txt --line-height-40">
                                <span class="ml-3  --line-height-40"><i
                                        ngClass="{{ff.fileBail.value.length > 0 ? 'fa-check' : 'fa-upload' }}"
                                        class="fas"></i></span>
                                <span class="ml-3">
                                    {{
                                      ff.fileBail.value.length > 0 ? ff.fileBail.value.length +
                                    " ficher(s) ajouté(s)" : "Ajouter vos fichiers"
                                    }}
                                </span>
                            </label>
                            <i class="ml-5 fas fa-3x fa-window-close --red --center-txt --width-50 --line-height-40"
                                (click)="onDeleteFile('bail')"
                                [ngClass]="{ '--hidden': ff.fileBail.value.length <= 0 }"></i>
                        </div>
                        <div *ngIf="ff.fileBail.value.length > 0" class="mt-20">
                            <h4 class="mb-10">Liste des fichiers</h4>
                            <div *ngFor="let fileName of listFileNameBail" class="--grey --sm-txt">
                                <i class="ml-20 mr-3 fas fa-1x fa-file --width-10 --line-height-40"></i>
                                {{ fileName }}
                            </div>
                        </div>
                    </div>
                </div>

                <div *ngIf="isProprietaire() || isLocataire()"
                    class="--flex --flex-wrap --justify-content-space-between --border-radius-5 --border-1-solid mt-20 p-40">
                    <div class="--width-400">
                        <h4 class="--underline-txt --yellow mb-20">Etat des lieux</h4>
                        <div *ngIf="bail.listFileEtatLieu.length > 0" class="mt-20">
                            <h4 class="mb-10">Liste des fichiers sauvegardées</h4>
                            <div *ngFor="let fileName of bail.listFileEtatLieu[0]"
                                class="--grey --sm-txt">
                                <a href="{{this.url_basic}}{{this.numeroBail(bail)}}{{this.constants.PATH_FILE_LOCATION.ETAT_LIEU}}{{ fileName }}" target="_blank">
                                    <i class=" ml-20 mr-3 fas fa-1x fa-file --width-10 --line-height-40"></i>
                                    {{ fileName }}
                                </a>
                            </div>
                        </div>
                    </div>
                    <div>
                        <div class="--flex --flex-wrap">
                            <input type="file" name="fileEtatLieu" id="fileEtatLieu"
                                class="input-file --hidden --absolute --width-250" multiple
                                (change)="onFileChange($event,'etatLieu')" accept=".pdf" />
                            <label for="fileEtatLieu"
                                class="--white --sm-txt --bg-yellow --border-1-solid --bd-yellow --width-200 --center-txt --line-height-40">
                                <span class="ml-3  --line-height-40"><i
                                        ngClass="{{ff.fileEtatLieu.value.length > 0 ? 'fa-check' : 'fa-upload' }}"
                                        class="fas"></i></span>
                                <span class="ml-3">
                                    {{
                                    ff.fileEtatLieu.value.length > 0 ? ff.fileEtatLieu.value.length +
                                    " ficher(s) ajouté(s)" : "Ajouter vos fichiers"
                                    }}
                                </span>
                            </label>
                            <i class="ml-5 fas fa-3x fa-window-close --red --center-txt --width-50 --line-height-40"
                                (click)="onDeleteFile('etatLieu')"
                                [ngClass]="{ '--hidden': ff.fileEtatLieu.value.length <= 0 }"></i>
                        </div>
                        <div *ngIf="ff.fileEtatLieu.value.length > 0" class="mt-20">
                            <h4 class="mb-10">Liste des fichiers</h4>
                            <div *ngFor="let fileName of listFileNameEtatLieu" class="--grey --sm-txt">
                                <i class="ml-20 mr-3 fas fa-1x fa-file --width-10 --line-height-40"></i>
                                {{ fileName }}
                            </div>
                        </div>
                    </div>
                </div>

                <div *ngIf="isProprietaire()"
                    class="--flex --flex-wrap --justify-content-space-between --border-radius-5 --border-1-solid mt-20 p-40">
                    <div class="--width-400">
                        <h4 class="--underline-txt --yellow mb-20">Assurance du propriétaire</h4>
                        <div *ngIf="bail.listFileAssuranceProprietaire.length > 0" class="mt-20">
                            <h4 class="mb-10">Liste des fichiers sauvegardées</h4>
                            <div *ngFor="let fileName of bail.listFileAssuranceProprietaire[0]"
                                class="--grey --sm-txt">
                                <a href="{{this.url_basic}}{{this.numeroBail(bail)}}{{this.constants.PATH_FILE_LOCATION.ASSURANCE_LOCATAIRE}}{{ fileName }}" target="_blank">
                                    <i class=" ml-20 mr-3 fas fa-1x fa-file --width-10 --line-height-40"></i>
                                    {{ fileName }}
                                </a>
                            </div>
                        </div>
                    </div>
                    <div>
                        <div class="--flex --flex-wrap">
                            <input type="file" name="fileAssuranceProprietaire" id="fileAssuranceProprietaire"
                                class="input-file --hidden --absolute --width-250" multiple
                                (change)="onFileChange($event,'assuranceProprietaire')" accept=".pdf" />
                            <label for="fileAssuranceProprietaire"
                                class="--white --sm-txt --bg-yellow --border-1-solid --bd-yellow --width-200 --center-txt --line-height-40">
                                <span class="ml-3  --line-height-40"><i
                                        ngClass="{{ff.fileAssuranceProprietaire.value.length > 0 ? 'fa-check' : 'fa-upload' }}"
                                        class="fas"></i></span>
                                <span class="ml-3">
                                    {{
                                    ff.fileAssuranceProprietaire.value.length > 0 ?
                                    ff.fileAssuranceProprietaire.value.length +
                                    " ficher(s) ajouté(s)" : "Ajouter vos fichiers"
                                    }}
                                </span>
                            </label>
                            <i class="ml-5 fas fa-3x fa-window-close --red --center-txt --width-50 --line-height-40"
                                (click)="onDeleteFile('assuranceProprietaire')"
                                [ngClass]="{ '--hidden': ff.fileAssuranceProprietaire.value.length <= 0 }"></i>
                        </div>
                        <div *ngIf="ff.fileAssuranceProprietaire.value.length > 0" class="mt-20">
                            <h4 class="mb-10">Liste des fichiers</h4>
                            <div *ngFor="let fileName of listFileNameAssuranceProprietaire" class="--grey --sm-txt">
                                <i class="ml-20 mr-3 fas fa-1x fa-file --width-10 --line-height-40"></i>
                                {{ fileName }}
                            </div>
                        </div>
                    </div>
                </div>
                <div *ngIf="isLocataire()"
                    class="--flex --flex-wrap --justify-content-space-between --border-radius-5 --border-1-solid mt-20 p-40">
                    <div class="--width-400">
                        <h4 class="--underline-txt --yellow mb-20">Assurance du locataire</h4>
                        <div *ngIf="bail.listFileAssuranceLocataire.length > 0" class="mt-20">
                            <h4 class="mb-10">Liste des fichiers sauvegardées</h4>
                            <div *ngFor="let fileName of bail.listFileAssuranceLocataire[0]"
                                class="--grey --sm-txt">
                                <a href="{{this.url_basic}}{{this.numeroBail(bail)}}{{this.constants.PATH_FILE_LOCATION.ASSURANCE_PROPRIETAIRE}}{{ fileName }}" target="_blank">
                                    <i class=" ml-20 mr-3 fas fa-1x fa-file --width-10 --line-height-40"></i>
                                    {{ fileName }}
                                </a>
                            </div>
                        </div>
                    </div>
                    <div>
                        <div class="--flex --flex-wrap">
                            <input type="file" name="fileAssuranceLocataire" id="fileAssuranceLocataire"
                                class="input-file --hidden --absolute --width-250" multiple
                                (change)="onFileChange($event,'assuranceLocation')" accept=".pdf" />
                            <label for="fileAssuranceLocataire"
                                class="--white --sm-txt --bg-yellow --border-1-solid --bd-yellow --width-200 --center-txt --line-height-40">
                                <span class="ml-3  --line-height-40"><i
                                        ngClass="{{ff.fileAssuranceLocataire.value.length > 0 ? 'fa-check' : 'fa-upload' }}"
                                        class="fas"></i></span>
                                <span class="ml-3">
                                    {{
                                    ff.fileAssuranceLocataire.value.length > 0 ?
                                    ff.fileAssuranceLocataire.value.length +
                                    " ficher(s) ajouté(s)" : "Ajouter vos fichiers"
                                    }}
                                </span>
                            </label>
                            <i class="ml-5 fas fa-3x fa-window-close --red --center-txt --width-50 --line-height-40"
                                (click)="onDeleteFile('assuranceLocation')"
                                [ngClass]="{ '--hidden': ff.fileAssuranceLocataire.value.length <= 0 }"></i>
                        </div>
                        <div *ngIf="ff.fileAssuranceLocataire.value.length > 0" class="mt-20">
                            <h4 class="mb-10">Liste des fichiers</h4>
                            <div *ngFor="let fileName of listFileNameAssuranceLocataire" class="--grey --sm-txt">
                                <i class="ml-20 mr-3 fas fa-1x fa-file --width-10 --line-height-40"></i>
                                {{ fileName }}
                            </div>
                        </div>
                    </div>
                </div>

                <div *ngIf="isProprietaire()"
                    class="--flex --flex-wrap --justify-content-space-between --border-radius-5 --border-1-solid mt-20 p-40">
                    <div class="--width-400">
                        <h4 class="--underline-txt --yellow mb-20">Contrat de gestion locative</h4>
                        <div *ngIf="bail.listFileContratGestion.length > 0" class="mt-20">
                            <h4 class="mb-10">Liste des fichiers sauvegardées</h4>
                            <div *ngFor="let fileName of bail.listFileContratGestion[0]"
                                class="--grey --sm-txt">
                                <a href="{{this.url_basic}}{{this.numeroBail(bail)}}{{this.constants.PATH_FILE_LOCATION.CONTRAT_GESTION}}{{ fileName }}" target="_blank">
                                    <i class=" ml-20 mr-3 fas fa-1x fa-file --width-10 --line-height-40"></i>
                                    {{ fileName }}
                                </a>
                            </div>
                        </div>
                    </div>
                    <div>
                        <div class="--flex --flex-wrap">
                            <input type="file" name="fileContratGestion" id="fileContratGestion"
                                class="input-file --hidden --absolute --width-250" multiple
                                (change)="onFileChange($event,'contratGestion')" accept=".pdf" />
                            <label for="fileContratGestion"
                                class="--white --sm-txt --bg-yellow --border-1-solid --bd-yellow --width-200 --center-txt --line-height-40">
                                <span class="ml-3  --line-height-40"><i
                                        ngClass="{{ff.fileContratGestion.value.length > 0 ? 'fa-check' : 'fa-upload' }}"
                                        class="fas"></i></span>
                                <span class="ml-3">
                                    {{
                                    ff.fileContratGestion.value.length > 0 ? ff.fileContratGestion.value.length +
                                    " ficher(s) ajouté(s)" : "Ajouter vos fichiers"
                                    }}
                                </span>
                            </label>
                            <i class="ml-5 fas fa-3x fa-window-close --red --center-txt --width-50 --line-height-40"
                                (click)="onDeleteFile('contratGestion')"
                                [ngClass]="{ '--hidden': ff.fileContratGestion.value.length <= 0 }"></i>
                        </div>
                        <div *ngIf="ff.fileContratGestion.value.length > 0" class="mt-20">
                            <h4 class="mb-10">Liste des fichiers</h4>
                            <div *ngFor="let fileName of listFileNameContratGestion" class="--grey --sm-txt">
                                <i class="ml-20 mr-3 fas fa-1x fa-file --width-10 --line-height-40"></i>
                                {{ fileName }}
                            </div>
                        </div>
                    </div>
                </div>

                <div *ngIf="isProprietaire() || isLocataire()"
                    class="--flex --flex-wrap --justify-content-space-between --border-radius-5 --border-1-solid mt-20 p-40">
                    <div class="--width-400">
                        <h4 class="--underline-txt --yellow mb-20">Diagnostique énergétique</h4>
                        <div *ngIf="bail.listFileDiagEnergie.length > 0" class="mt-20">
                            <h4 class="mb-10">Liste des fichiers sauvegardées</h4>
                            <div *ngFor="let fileName of bail.listFileDiagEnergie[0]"
                                class="--grey --sm-txt">
                                <a href="{{this.url_basic}}{{this.numeroBail(bail)}}{{this.constants.PATH_FILE_LOCATION.DIAG_ENERGIE}}{{ fileName }}" target="_blank">
                                    <i class=" ml-20 mr-3 fas fa-1x fa-file --width-10 --line-height-40"></i>
                                    {{ fileName }}
                                </a>
                            </div>
                        </div>
                    </div>
                    <div>
                        <div class="--flex --flex-wrap">
                            <input type="file" name="fileDiagEnergie" id="fileDiagEnergie"
                                class="input-file --hidden --absolute --width-250" multiple
                                (change)="onFileChange($event,'diagEnergie')" accept=".pdf" />
                            <label for="fileDiagEnergie"
                                class="--white --sm-txt --bg-yellow --border-1-solid --bd-yellow --width-200 --center-txt --line-height-40">
                                <span class="ml-3  --line-height-40"><i
                                        ngClass="{{ff.fileDiagEnergie.value.length > 0 ? 'fa-check' : 'fa-upload' }}"
                                        class="fas"></i></span>
                                <span class="ml-3">
                                    {{
                                    ff.fileDiagEnergie.value.length > 0 ? ff.fileDiagEnergie.value.length +
                                    " ficher(s) ajouté(s)" : "Ajouter vos fichiers"
                                    }}
                                </span>
                            </label>
                            <i class="ml-5 fas fa-3x fa-window-close --red --center-txt --width-50 --line-height-40"
                                (click)="onDeleteFile('diagEnergie')"
                                [ngClass]="{ '--hidden': ff.fileDiagEnergie.value.length <= 0 }"></i>
                        </div>
                        <div *ngIf="ff.fileDiagEnergie.value.length > 0" class="mt-20">
                            <h4 class="mb-10">Liste des fichiers</h4>
                            <div *ngFor="let fileName of listFileNameDiagEnergie" class="--grey --sm-txt">
                                <i class="ml-20 mr-3 fas fa-1x fa-file --width-10 --line-height-40"></i>
                                {{ fileName }}
                            </div>
                        </div>
                    </div>
                </div>

                <div *ngIf="isProprietaire() || isLocataire()"
                    class="--flex --flex-wrap --justify-content-space-between --border-radius-5 --border-1-solid mt-20 p-40">
                    <div class="--width-400">
                        <h4 class="--underline-txt --yellow mb-20">Autres justificatifs</h4>
                        <div *ngIf="bail.listFileAutre.length > 0" class="mt-20">
                            <h4 class="mb-10">Liste des fichiers sauvegardées</h4>
                            <div *ngFor="let fileName of bail.listFileAutre[0]" class="--grey --sm-txt">
                                <a href="{{this.url_basic}}{{this.numeroBail(bail)}}{{this.constants.PATH_FILE_LOCATION.AUTRE}}{{ fileName }}" target="_blank">
                                    <i class=" ml-20 mr-3 fas fa-1x fa-file --width-10 --line-height-40"></i>
                                    {{ fileName }}
                                </a>
                            </div>
                        </div>
                    </div>
                    <div>
                        <div class="--flex --flex-wrap">
                            <input type="file" name="fileAutre" id="fileAutre"
                                class="input-file --hidden --absolute --width-250" multiple
                                (change)="onFileChange($event,'autre')" accept=".pdf" />
                            <label for="fileAutre"
                                class="--white --sm-txt --bg-yellow --border-1-solid --bd-yellow --width-200 --center-txt --line-height-40">
                                <span class="ml-3  --line-height-40"><i
                                        ngClass="{{ff.fileAutre.value.length > 0 ? 'fa-check' : 'fa-upload' }}"
                                        class="fas"></i></span>
                                <span class="ml-3">
                                    {{
                                    ff.fileAutre.value.length > 0 ?
                                    ff.fileAutre.value.length +
                                    " ficher(s) ajouté(s)" : "Ajouter vos fichiers"
                                    }}
                                </span>
                            </label>
                            <i class="ml-5 fas fa-3x fa-window-close --red --center-txt --width-50 --line-height-40"
                                (click)="onDeleteFile('autre')"
                                [ngClass]="{ '--hidden': ff.fileAutre.value.length <= 0 }"></i>
                        </div>
                        <div *ngIf="ff.fileAutre.value.length > 0" class="mt-20">
                            <h4 class="mb-10">Liste des fichiers</h4>
                            <div *ngFor="let fileName of listFileNameAutre" class="--grey --sm-txt">
                                <i class="ml-20 mr-3 fas fa-1x fa-file --width-10 --line-height-40"></i>
                                {{ fileName }}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="mx-auto --width-full --center-txt mt-20">
                <button type="button" class="--secondary-btn" (click)="onSubmitFichiers(bail)">
                    Enregistrer les modifications
                </button>
            </div>
        </form>
    </div>
  </div>
  <div *ngIf="isBail()==false" class="_row">
    <div class="_col --z-index-4">
      <div class="mt-40 --width-full --bg-white --border-radius-5 p-40">
          <h2>Pas de bail signé</h2>
      </div>
    </div>
  </div>
</div>
