<div class="_container --bg-light-grey py-100 --relative">
	<div class="_row ">
		<div class="_col">
			<div class="--bg-white p-40 pt-60 --border-radius-5">
				<h1 class="--center-txt --yellow">Création de compte</h1>
				<span class="tiny-txt field-error-message mx-auto">* Champs obligatoires</span>

				<form *ngIf="form" [formGroup]="form" class="my-20">
					<div class="field-group">
						<div class="my-10 mr-10">
							<label for="civilite">* Civilité</label>
							<select formControlName="createAccount" id="civilite" name="civilite" class="form-field"
								[ngClass]="{ 'error': submitted && form.controls.civilite.invalid }">
								<option value="monsieur">Monsieur</option>
								<option value="madame">Madame</option>
							</select>
							<span class="--sm-txt --red --block mt-5"
								*ngIf="submitted && form.controls.civilite.invalid">Le champ est invalide</span>
						</div>
						<div class="my-10">
							<label for="creationType">* Type</label>
							<select id="creationType" name="creationType" class="form-field"
								[ngClass]=" { 'error': submitted && form.controls.creationType.invalid }">
								<option value="locataire">Locataire</option>
								<option value="propriétaire">Propriétaire</option>
							</select>
							<span class="--sm-txt --red --block mt-5"
								*ngIf="submitted && form.controls.creationType.invalid">Le champ est invalide</span>
						</div>
					</div>

					<div class="field-group">
						<div class="my-10 mr-10">
							<label for="firstName">* Nom</label>
							<input formControlName="firstName" type="text" id="firstName" name="firstName"
								class="form-field"
								[ngClass]="{ 'error': submitted && form.controls.firstName.invalid }" />
							<span class="--sm-txt --red --block mt-5"
								*ngIf="submitted && form.controls.firstName.invalid">Le champ est invalide</span>
						</div>
						<div class="my-10">
							<label for="lastName">* Prénom</label>
							<input formControlName="lastName" type="text" id="lastName" name="lastName"
								class="form-field"
								[ngClass]="{ 'error': submitted && form.controls.lastName.invalid }" />
							<span class="--sm-txt --red --block mt-5"
								*ngIf="submitted && form.controls.lastName.invalid">Le champ est invalide</span>
						</div>
					</div>

					<div class="field-group">
						<div class="my-10">
							<label for="birthDate">* Date de naissance</label>
							<input formControlName="birthDate" type="date" id="birthDate" name="birthDate"
								class="form-field"
								[ngClass]="{ 'error': submitted && form.controls.birthDate.invalid }" />
							<span class="--sm-txt --red --block mt-5"
								*ngIf="submitted && form.controls.birthDate.invalid">Le champ est invalide</span>
						</div>
					</div>

					<div class="field-group">
						<div class="my-10">
							<label for="mail">* Mail</label>
							<input formControlName="mail" type="text" id="mail" name="mail" class="form-field"
								[ngClass]="{ 'error': submitted && form.controls.mail.invalid }" />
							<span class="--sm-txt --red --block mt-5" *ngIf="submitted && form.controls.mail.invalid">Le
								champ est invalide</span>
						</div>
					</div>

					<div class="field-group">
						<div class="my-10">
							<label for="phone">* Numéro de téléphone</label>
							<input formControlName="phone" type="text" id="phone" name="phone" class="form-field"
								[ngClass]="{ 'error': submitted && form.controls.phone.invalid }" />
							<span class="--sm-txt --red --block mt-5"
								*ngIf="submitted && form.controls.phone.invalid">Le champ est invalide</span>
						</div>
					</div>

					<h3 class="my-40">Adresse postale</h3>

					<div class="field-group">
						<div class="my-10 mr-10">
							<label for="numberAdress">* Numéro</label>
							<input formControlName="numberAdress" type="text" id="numberAdress" name="numberAdress"
								class="form-field"
								[ngClass]="{ 'error': submitted && form.controls.numberAdress.invalid }" />
							<span class="--sm-txt --red --block mt-5"
								*ngIf="submitted && form.controls.numberAdress.invalid">Le champ est invalide</span>
						</div>
						<div class="my-10 mr-10">
							<label for="street">* Rue</label>
							<input formControlName="street" type="text" id="street" name="street" class="form-field"
								[ngClass]="{ 'error': submitted && form.controls.street.invalid }" />
							<span class="--sm-txt --red --block mt-5"
								*ngIf="submitted && form.controls.street.invalid">Le champ est invalide</span>
						</div>
						<div class="my-10">
							<label for="adressComplement">Complément d'adresse</label>
							<input formControlName="adressComplement" type="text" id="adressComplement"
								name="adressComplement" class="form-field" />
						</div>
					</div>

					<div class="field-group">
						<div class="my-10 mr-10">
							<label for="city">* Ville</label>
							<input formControlName="city" type="text" id="city" name="city" class="form-field"
								[ngClass]="{ 'error': submitted && form.controls.city.invalid }" />
							<span class="--sm-txt --red --block mt-5" *ngIf="submitted && form.controls.city.invalid">Le
								champ est invalide</span>
						</div>
						<div class="my-10">
							<label for="postalCode">* Code postal</label>
							<input formControlName="postalCode" type="text" id="postalCode" name="postalCode"
								class="form-field"
								[ngClass]="{ 'error': submitted && form.controls.postalCode.invalid }" />
							<span class="--sm-txt --red --block mt-5"
								*ngIf="submitted && form.controls.postalCode.invalid">Le champ est invalide</span>
						</div>
					</div>


				</form>


				<div class="--center-txt my-20">
					<button type="button" class="--secondary-btn-outlined" routerLink="/accueil">Retour à
						l'accueil</button>
					<button type="button" class="--secondary-btn">Créer le compte</button>
				</div>
			</div>
		</div>
	</div>
</div>